#object-item{
    flex: 1 1 200px;
    padding: 2rem;
    border-radius: 6px;
    background-color: #9192bc;
    box-shadow: 0 2px 8px rgba(0,0,0,0.4);
    color: rgb(233, 228, 228);
    
}

#object-item .img-container img{
    width: 100%;
    height: 100px;
    margin-bottom: 1rem;
    background-color: rgb(243, 234, 234);
    background-size: contain;
    background-repeat: no-repeat;      
    background-position: center; 
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.4);
    padding: 0.5rem;
}

#object-item .title-container{
    margin-bottom: 1rem;
    text-align: center;
    overflow: hidden;
}

#object-item .description-container{
    text-align:start;
    margin-bottom: 1rem;
    height: 60px;
    overflow: scroll;
    text-overflow: ellipsis;
    scrollbar-color: transparent transparent; 
}

#object-item .menu-buttons{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}
