.tablero{
    padding: 2rem;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.contenedor-juego{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2%;
    flex-direction: row;
    
}

.tablero-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1%;
}

.turno{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 1%;
}

.tablero-button{
    width: 100px;
    height: 100px;
    font-size: 2rem;
    cursor: pointer;
    flex: 1 1 100px;
    background-color: rgb(255, 255, 255);
}

.tablero-button--reset{
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
    width: 20%;
}

.container-reset{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.tablero-button--verde {
    background-color: rgb(32, 243, 32);
}

.tablero-button--rojo {
    background-color: rgb(253, 51, 24);
}

.tabla-puntaje th.tablero-button--verde {
    background-color: rgb(32, 243, 32);
}

.tabla-puntaje th.tablero-button--rojo {
    background-color: rgb(253, 51, 24);
}

.tabla-puntaje{
    border-collapse: collapse;
}

.tabla-puntaje th,
.tabla-puntaje td{
    border: 1px solid black;
    padding: 8px 12px;
    text-align: center;
    gap: 1%;
    background-color: #f8ffff;
}



.historial-contenedor{
    background: #997df8;
    padding: 2rem;
    display: grid;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    height: 400px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
    border-radius: 9px;
}

.historial-lista{
    background: #f8ffff;
    flex: 1 1 200px;
    padding: 2rem;
    border-radius: 6px;
    scrollbar-color: transparent transparent; 
    border-radius: 9px;
    gap: 1%;
    overflow-y: auto;  
    max-height: 400px;
    max-width: 300px;
    height: 100%;
    width: 100%;
}

.historial-lista-item {
    border: 1px solid black;
    padding: 8px 12px;
    text-align: center;
    gap: 1%;
    margin-bottom: 1rem;
}

.tabla-historial{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.celda-tabla{
    border: 1px solid black;
    
    text-align: center;
    margin-bottom: 1px;
    max-width: 23px;
    max-height: 23px;
    width: 23px;
    height: 23px;
}



.nombre-boton{
    padding: 0.1rem 0.1rem;
    width: 4rem;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 0.5rem;
}


.dialog-winer-loser{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-color: #9f3ae2;
    box-shadow: 4 4px 10px rgba(11,10,10,0.3);
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 1rem;
    z-index: 1000;
}