*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    color: black;
}

html, body, #root{
    height: 100%;
}

body, #root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f0f1f8;
}

header{
    width: 100%;
    background: #0e0723;
    color: #ffffff;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 10;
    text-align: center;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.header-tabs{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: left;
    width: 100%;
}

.header-tabs-a{
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.header-tabs-user{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: right;
}

main{
    flex: 1;
    padding: 2rem;
    width: 100%;
}

footer{
    width:100%;
    background: #0e0723;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

button{
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: rgb(92, 41, 187);
    border: 2px solid rgb(0, 0, 0);
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

input{
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}