*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    color: black;
}

html, body, #root{
    height: 100%;
}

body, #root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #ffffff;
}

header{
    width: 100%;
    background: #1e293b;
    color: #ffffff;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 10;
    text-align: center;
    flex-direction: row;
    display: flex;
}

.header-tabs{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: left;
    width: 100%;
}

.header-tabs-a{
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

main{
    flex: 1;
    padding: 2rem;
    width: 100%;
    background: #f4f6f9;
}

footer{
    width:100%;
    background: #1e293b;
    color: #ffffff;
    text-align: center;
    padding: 1rem;

}